$white: #fff;
$black: #000;
$accent: #fe5f1e;
$yellow: #ffdf8c;
$dark-gray: #2c2c2c;
$dark-gray-35: rgba($dark-gray, 0.35);
$gray: #cacaca;
$gray-85: rgba($gray, 0.85);
$gray-75: rgba($gray, 0.75);
$gray-70: rgba($gray, 0.7);
$light-gray: #f3f3f3;
$light-gray-60: rgba($light-gray, 0.6);
$logo-title: #181818;
$logo-descr: #7b7b7b;
$button: #282828;
$descr: #777777;
$divider: #f4f4f4;
$transparent: transparent;

$radius-sm: 5px;
$radius-md: 10px;
$radius-lg: 30px;
