$white: #fff;
$black: #000;
$accent: #FE5F1E;
$yellow: #FFDF8C;
$dark-gray: #2C2C2C;
$dark-gray-35: rgba(#2C2C2C, .35);
$light-gray: #F3F3F3;
$light-gray-60: rgba(#F3F3F3, .6);
$logo-title : #181818;
$logo-descr: #7B7B7B;
$button: #282828;
$description: #777777;
$divider: #F4F4F4;

$radius-sm: 5px;
$radius-md: 30px;
$radius-lg: 30px;