@import 'variables';
@import 'fonts';
@import 'mixins/index';

* {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova' !important;
	text-decoration: none;
	box-sizing: border-box !important;
}

html,
body,
#root {
	width: 100%;
	min-height: 100vh;
}

#root {
	padding: 45px 0;
	background-color: $yellow !important;
	display: flex;
	justify-content: center;
}
