@import '../../../assets/scss/general';

.selection-sorting {
	position: relative;
	display: flex;
	align-items: center;
	column-gap: 7px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.015em;
	@include text-dark-gray;
	&-icon {
		&-reflect {
			transform: rotate(180deg);
		}
	}
}
