@import '../../../assets/scss/general';

.sorting {
	&-open-button {
		min-width: 95px;
		text-decoration: underline;
		text-decoration-style: dotted;
		text-decoration-color: $accent;

		font-style: normal;
		font-size: 14px;
		font-weight: normal;

		@include text-orange;
		text-underline-offset: 2px;

		text-align: left;
		cursor: pointer;
	}
}
