@import '../../assets/scss/general.scss';

.product-sizes {
	display: flex;
	column-gap: 6px;

	&-button {
		padding: 7px 0;
		text-align: center;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		letter-spacing: 0.015em;
		background-color: transparent;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);

		&-disabled {
			color: rgba($dark-gray, 0.2);
		}
		&-active {
			background-color: white;
		}
	}
}
