@import '../../assets/scss/general.scss';

.products {
	padding: 0 48px 0 67px;
	&-title {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.01em;
		@include text-black;
	}
}
