@import '../../assets/scss/general.scss';

.products-items {
	margin-top: 35px;
	margin-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 35px;
	row-gap: 65px;
	justify-content: center;
}
