@mixin bg-orange{
  background-color: $accent;
}

@mixin bg-white {
  background-color: $white;
}

@mixin bg-dark-gray {
  background-color: $dark-gray;
}

@mixin bg-light-gray-60 {
  background-color: $light-gray-60;
}

@mixin bg-transparent {
  background-color: $transparent;
}