.bg{
  &-orange {
    background-color: $accent;
  }

  &-white {
    background-color: $white;
  }

  &-dark-gray {
    background-color: $dark-gray;
  }

  &-light-gray-60 {
    background-color: $light-gray-60;
  }
}

