@import '../../../assets/scss/general.scss';

.shopping-cart-content {
	&-items {
		&-footer {
			margin-top: 40px;
			display: flex;
			justify-content: space-between;
			font-style: normal;
			font-weight: normal;
			font-size: 22px;
			line-height: 27px;
			letter-spacing: 0.01em;
			color: $black;

			&-count {
				&-bold {
					font-weight: bold;
				}
			}

			&-price {
				&-bold {
					font-weight: bold;
					color: $accent;
				}
			}
		}
	}
}
